<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
{{ partial "nav.html" . }}
<!-- Page Header -->
<div id="headBlock">
    {{ block "header" .}}
    <header class="intro-header" style="background-image: url('{{ if .Params.image }}{{ .Params.image | relURL }}{{ else }}{{ index .Site.Params.header_imageList 0 | relURL}}{{ end }}')" {{ if .IsHome }}id="introHead"{{end}}>
    <!-- <header class="intro-header" id="introHead"></header> -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                    <div class="site-heading">
                        {{ if .Params.title }}
                        <h1>{{ .Params.title }} </h1>
                        {{else}}
                        <h1>{{ .Site.Title }} </h1>
                        {{end}}
                        <!--<hr class="small">-->
                <span class="subheading">{{ .Site.Params.slogan }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {{ end }}
</div>
{{ block "main" . }}
{{ end }}

{{ partial "footer.html" . }}
<script src={{ "js/header.js" | relURL }}></script>
{{if .IsHome}}
    <script src={{ "js/intro-head_animation.js" | relURL }}></script>
    <script type="text/javascript">
        imgArray = Array({{len $.Site.Params.header_imageList}});
        {{- range $index, $val := $.Site.Params.header_imageList }}
            imgArray[{{$index}}] = {{$val | relURL}};
        {{- end }}
        //プレロードしとこ
        preImg.src = imgArray[1];
    </script>
{{end}}
</body>
</html>
